/*1.Estilos*/
body{font-family: Tahoma;
    margin: 0;
    padding: 0;
}

header{background-color:rgb(6, 70, 6);
    color: whitesmoke;
    text-align: center;
    padding: 20px; /*aumenta el grosor de la linea o sea el fondo*/
    border: 1px solid #65a87c;
}

nav { background-color:#b7e4c7;
    padding: 18px; 
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 13px
  
}

nav a {color:black;
    text-decoration: none;
}

section {
    background-color: #e6f4ea;
    border: 1px solid #b7e4c7;
    padding: 20px; 
    margin: 20px; /*aumenta el margen de arriba, abajo y los lados de cada section*/
    }

.quiensoy{  display: grid;
    grid-template-columns:3fr
}


.fila-softs-lenguajes-idiomas{ display: grid; /*union de secciones en boxes diferentes*/
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /*espacio entre cada box*/
    align-items: stretch;
}

.fila-edu-work{ display: grid; /*union de secciones en boxes diferentes*/
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /*espacio entre cada box*/;
    align-items: stretch;
}

/*2.Media queries*/


/*Laptops*/
@media (max-width: 1024px) {
nav {display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    justify-items:center;
    padding: 14px;}

section {margin: 18px;
    padding: 20px;
}

table {font-size: 14px;
}

.quiensoy{display: grid;
    grid-template-columns: 3fr;
    gap: 20px;
}
.fila-edu-work{ display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}

.fila-softs-lenguajes-idiomas{ display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}

}

/*Tablets*/
@media (max-width: 768px) {
nav {grid-template-columns:repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    padding: 12px;
}

section {margin: 15px;
    padding: 18px;}

table {font-size: 14px;}

.quiensoy{display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.fila-edu-work{ display: grid;
    grid-template-columns: 1fr;
    gap: 15px;}

.fila-softs-lenguajes-idiomas{ display: grid;
    grid-template-columns: 1fr;
    gap: 15px;}

}


/*Moviles*/
@media (max-width: 480px) {
nav {grid-template-columns: 1fr;
    gap: 10px;
    justify-items: center;}
    
section {margin: 10px;
    padding: 15px;}
table {font-size: 13px;}

.quiensoy{display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.fila-edu-work{ display: grid;
    grid-template-columns: 1fr;
    gap: 10px;}

.fila-softs-lenguajes-idiomas{ display: grid;
    grid-template-columns: 1fr;
    gap: 10px;}

}

/*Print pdf*/
@media print {
  nav, button { display: none !important; }
  section { break-inside: avoid; }        
  body { background:whitesmoke !important; }  
}



body.darkmode { background-color: black; color: white;}

.filtro{
    display: none
}


#buscador {    background-color: #e6f4ea;
    border: 1px solid #b7e4c7;


}




