<h2 class="sectionTitle">Voluntariado y Nonprofits</h2>
<p class="sectionSubtitle">Estoy abierta a experiencias que me hagan crecer como programadora</p>

<div class="experienceList">
  <article class="card">
    <div class="experienceHeader">
      <div>
        <h3 class="itemTitle">Program Assistant</h3>
        <p class="itemText">Fundación Ayuvi</p>
      </div>
      <span class="tag">2019 – presente</span>
    </div>

    <ul class="bulletList">
       <li>Organización de actividades y recaudaciones para los pacientes de UNOP</li>
    </ul>
  </article>
</div>
