<div class="container">
  <h2 class="sectionTitle">Skills</h2>
  <p class="sectionSubtitle">Fortalezas y herramientas dominadas</p>

  <p class="sectionSubtitle">
    Computer skills hasta hoy: {{ today | date:'mediumDate' }}
  </p>
  <ul class="bulletList">
    <li *ngFor="let s of skillsList">{{ s | exclaim:2 }}</li>
  </ul>

  <div class="grid2">
    <div class="card">
      <h3 class="itemTitle">Soft skills</h3>
      <ul class="bulletList">
        <li>Liderazgo positivo</li>
        <li>Comunicación clara</li>
        <li>Trabajo en equipo</li>
        <li>Aprendizaje rápido</li>
        <li>Alto nivel de organización</li>
      </ul>
    </div>


    
    <div class="card">
      <h3 class="itemTitle">Herramientas</h3>
      <ul class="bulletList">
        <li>Git & GitHub</li>
        <li>Angular CLI</li>
        <li>Node / NPM</li>
        <li>Figma (básico)</li>
      </ul>
    </div>
  </div>
</div>









