<section id="top" class="hero">
  <div class="container heroLayout">
    <div>
      <div class="heroTags">
        <span class="tag">Computer Science</span>
        <span class="tag">Guatemala</span>
      </div>

      <h1 class="heroTitle">Sofia Bilbao</h1>

      <p class="heroText">
        Estudiante de Ingeniería en la Universidad Francisco Marroquín
        Apasionada por entender cómo la tecnología puede resolver problemas reales y generar valor
      </p>

      <div class="heroInfo">
        <div class="tag">✉️ sofia.bilbao@ufm.edu</div>
        <div class="tag">🔗 github.com/sofiabilbaocr</div>
        <div class="tag">💼 LinkedIn/sofia-bilbao-4122a12b0</div>
      </div>
    </div>

    <div class="card">
      <img class="heroPhoto" src="/cv1.png" alt="Foto">
      <p class="heroNote">
        Disponible para prácticas, proyectos académicos y oportunidades junior.
      </p>
    </div>
  </div>
</section>










