<h2 class="h2">Educación</h2>
<p class="sub">Estoy en constante aprendizaje, me gusta mantenerme actualizada y certificada</p>

<div class="grid-2">
  <article class="card item">
    <div class="top">
      <span class="pill">2011 – 2024</span>
    </div>
    <h3 class="h3">Colegio Monte María</h3>
    <p class="p">Bachillerato en Ciencias y Letras</p>
  </article>

  <article class="card item">
    <div class="top">
      <span class="pill">2025 – Present</span>
    </div>
    <h3 class="h3">Universidad Francisco Marroquín</h3>
    <p class="p">Ingenería en Computer Science</p>
  </article>
</div>