<h2 class="sectionTitle">Educación</h2>
<p class="sectionSubtitle">Estoy en constante aprendizaje, me gusta mantenerme actualizada y certificada</p>

<div class="grid2">
  <article class="card">
    <span class="tag">2011 – 2024</span>
    <h3 class="itemTitle">Colegio Monte María</h3>
    <p class="itemText">Bachillerato en Ciencias y Letras</p>
  </article>

  <article class="card">
    <span class="tag">2025 – Presente</span>
    <h3 class="itemTitle">Universidad Francisco Marroquín</h3>
    <p class="itemText">Ingenería en Computer Science</p>
  </article>
</div>













