
<h2 class="sectionTitle">Experiencia</h2>
<p class="sectionSubtitle">Estoy abierta a experiencias que me hagan crecer como profesional y como persona</p>
<router-outlet></router-outlet>
<!-- Experiencia Laboral 
<h2 class="sectionTitle">Experiencia laboral</h2>
<p class="sectionSubtitle">Estoy abierta a experiencias que me hagan crecer como programadora</p>

<div class="experienceList">
  <article class="card">
    <div class="experienceHeader">
      <div>
        <h3 class="itemTitle">Social media & marketing assistant</h3>
        <p class="itemText">Portafolio Diversificado / Terrafunded</p>
      </div>
      <span class="tag">2024 – 2025</span>
    </div>

    <ul class="bulletList">
       <li>Cración de contenido alineado con la identidad de la marca</li>
      <li>Análiticas básicas del desempeño del contenido</li>
      <li>Coordinación y entregas con deadlines</li>
    </ul>
  </article>
</div>
<router-outlet></router-outlet>
-->